.nav-header {
		background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx03VI5upJHG5lobI6JT1GqqwxtoxXk6fxeA&usqp=CAU');
		height: 5vh;
		padding: 0ch;
		width: 100%;
		background-size: cover;
}